body {
  margin: 0;
  padding: 0;
  background-color: #6ea5ff;
  box-sizing: border-box;
}
body .form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85%;
  max-width: 600px;
  background: #f1f1f1;
  transform: translate(-50%, -50%);
  padding: 30px 40px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
}
body .form-container h1 {
  margin-top: 0;
  font-weight: 200;
  color: #3c559e;
}
body .form-container .txtb {
  border: 1px solid #3c559e;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 10px;
}
body .form-container .txtb label {
  display: block;
  text-align: left;
  color: #3c559e;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
body .form-container .txtb input {
  width: 100%;
  border: none;
  outline: none;
  background: none;
  font-size: 13px;
  margin-top: 6px;
}
#submit {
  display: inline-block;
  background: #3c559e;
  padding: 14px 0;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  width: 100%;
  border-radius: 10px;
  border: none;
  outline: none;
}
#submit:hover {
  background-color: #273767;
}
.form-message {
  font-size: 20px;
  font-weight: 600;
}
.form-message .form-success {
  color: #008f05;
}
.form-message .form-error {
  color: #ff0000;
}
.form-message .input-error {
  box-shadow: 0px 2px 0px 0px #ff0000;
}
