// Variables


@btn-color : #3c559e; //blue
@btn-color-hover:  darken(@btn-color, 10%);
@error-txt-color : #ff0000;//red
@sucess-txt-Color : #008f05;//green
@bg-color : #6ea5ff;//light blue
@container-color : #f1f1f1;//white

body{


  margin: 0;
  padding: 0;
  background-color: @bg-color;
  box-sizing: border-box;
}

.form-container{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85%;
  max-width: 600px;

  background: @container-color;
  transform: translate(-50%,-50%);
  padding: 30px 40px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
      h1{
        margin-top: 0;
        font-weight: 200;
        color: @btn-color;
      }
}


.txtb{
  border:1px solid @btn-color;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 10px;
       label{
        display: block;
        text-align: left;
        color: @btn-color;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
      }
      input{
        width: 100%;
        border: none;
        background: none;
        outline: none;
        font-size: 13px;
        margin-top: 6px;
      }
}

#submit{
  display: inline-block;
  background: @btn-color;
  padding: 14px 0;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  width: 100%;
  border-radius: 10px;
  border: none;
  outline: none;
}

#submit:hover{
  background-color: @btn-color-hover;
}

.form-message{
  font-size: 20px;
  font-weight: 600;
        .form-success{
          color: @sucess-txt-Color;
        }
        .form-error{
          color: @error-txt-color;
        }
        .input-error{
          box-shadow: 0px 2px 0px 0px @error-txt-color;
        }


}
